body {
    background-color: #151515;
    font-family: 'Courier New', Courier, monospace;
}

.loading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.title {
    color: #999;
    font-style: italic;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.progress-bar {
    width: 406px;
    height: 10px;
    background: #111;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.progress {
    width: 10px;
    height: 5px;
    background: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}