#bg-login {
    background-image: url('../asset/image/background.png');
    background-size: cover;
    background-position: center center;
}

.slide-down {
    animation: slide-down 1.5s;
    -webkit-animation: slide-down 1.5s;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}